KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

# TODO: fix horrible naming conventions
KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/boot/gdt.o \
$(ARCHDIR)/boot/gdt_init.o \
$(ARCHDIR)/mm/paging.o \
$(ARCHDIR)/irq/irq.o \
$(ARCHDIR)/irq/idt_init.o \
$(ARCHDIR)/irq/irq_handler.o \
